<br>
<h3><strong><%=@post.title%></strong><h3>
<h5><%=@post.content%></h5>

<div class="commentary">

</div>

<%= form_for [@post, @comment] do |f| %>
  <div class="comment-content">
  <%=f.text_area :content, id: "comment-content-field", size: "60x3"%>
  </div>
  <%=f.submit "Comment", :disable_with => 'Creating...' %>
<%end%>

<script type="text/javascript">
  $(document).on('turbolinks:load', function(){
    loadCommentsAsync()
    //loadCommentsJavascript()
  })

  $(document).on('click', '.delete', function(){
    var id = $(this).attr('data-id')
    $.ajax({
      type: "DELETE",
      url: "<%=post_comments_path @post%>" +"/"+ id
    }).done(function(data){
      alert('Ahora sí!')
    }).fail(function(error){
      alert('No se eliminó')
    })
  })

  function loadCommentsAsync(){
    $.ajax({
      type: "GET",
      contentType: 'application/json',
      url: "<%=post_comments_path @post%>"
    }).done(function(data){
      drawComments(data)
    })
  }
  function drawComments(data){
    data.forEach(function(object){
      var dest = '<a class="delete" data-id="' + object.id + '" data-remote="true">Eliminar</a>'
      $('.commentary').append(object.content +'  '+ dest + '<br>')
    })
  }

    // function loadCommentsJavascript(){
    //   $.ajax({
    //     type: "GET",
    //     contentType: 'application/javascript',
    //     url: "<%=post_comments_path @post%>"
    //   }).done(function(data){
    //     drawComments(data)
    //   })
    //   function drawComments(data){
    //     data.forEach(function(object){
    //       $('.commentary').append(object.content + '<br>')
    //     })
    //   }

</script>
